:root {
  /* Colors */
  --color-prime: #343434;
  --color-prime-light: #3a3a3a;
  --color-success: #28c840;
  --color-info: #226ef9;
  --color-info-light: #5d78b0;
  --color-warning: #e08b02;
  --color-danger: #ff3561;
  --color-font: #ffffff;
  --color-font-gray: #939393;
  /* Border and Shadow(box shadow settings) */
  --shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-border: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  --border: #464646;
  --shadow-logo: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* space setting */
  --vertical-space: 20px;
  --horizontal-space: 15px;
  /* border raidus */
  --radius: 5px;
  --radius-avatar: 30px;
}
