#friends-display-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: var(--color-prime-light);
  opacity: 0.55;
}

.xi-info {
  margin-right: 4px;
  font-size: 18px;
}

.xi-angle-right-min {
  padding-top: 4px;
}

#splash-screen {
  background-color: var(--color-prime);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 2s;
  box-shadow: var(--shadow-logo);
  position: fixed;
  z-index: 2;
}

#splash-screen img {
  width: 200px;
  height: 200px;
}
