.badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--color-success);
  color: var(--color-font);
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-bottom: 1px;
}

.bolder {
  font-weight: 900;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-danger);
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.hole {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-prime);
  position: absolute;
  box-shadow: var(--shadow), var(--shadow-border);
}
