.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--vertical-space) 0px;
  margin-top: 23px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
  padding-left: var(--horizontal-space);
}

.screen-header__icons span {
  margin-right: 20px;
}

.xi-cog {
  position: relative;
}
