.status-bar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6px 0px;
  background-color: var(--color-font);
  color: var(--color-prime);
  position: fixed;
  z-index: 1;
}

.status-bar__column {
  justify-content: center;
  align-items: center;
  width: 33%;
}

.status-bar__column:first-child {
  justify-content: flex-start;
  padding-left: 5px;
}

.status-bar__column:last-child {
  justify-content: flex-end;
  padding-right: 5px;
}

.xi-battery {
  color: var(--color-success);
  font-weight: 900;
  padding-top: 2px;
}
